
#================ APPLICATION =============
#==========================================
# change it
APP_NAME=example.com

#==============    NGINX      =============
#==========================================
# change it
NGINX_PORT=8888 

#==============    MYSQL      =============
#==========================================
MYSQL_ROOT_PASSWORD=rootpwd

#=============    WORDPRESS    ============
#==========================================
WORDPRESS_DB_NAME=wordpress
